* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

/* About section */

#about {
    min-height: 100vh;
    background: #fdfdfd;
}

/* About content */

.About-content {
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About-section-heading {
    font-size: 35px;
    font-weight: 600;
    color: #5D4C46;
}

.About-section-heading::after {
    content: '';
    width: 110px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.About-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 60px;
}

.About-info-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 20px;
}

/* img */

.About-image img {
    height: 240px;
    width: 340px;
    border-radius: 20px;
}

.About-info-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 0 0 10px;
    color: #C97C5D;
}

.About-info-description {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 10px 0;
}

hr {
    height: 3px;
    background: #f3961c;
    border-radius: 10px;
    margin-bottom: 40px;
}