* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

:root {
    --swiper-theme-color: black;
}

/* About section */

#books {
    min-height: 100vh;
    background: #fdfdfd;
}

/* books content */

.books-content {
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper {
    width: 75%;
    height: 100%;
}

.mySwiper {
    border-radius: 2rem;
}

.swiper-slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #f5f3e1, #e8d89f);
}

.swiper-button-next {
    margin-right: 1rem;
}

.swiper-button-prev {
    margin-left: 1rem;
}

.text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 8%;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.text-content p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-weight: 600;
}

.swiper-btn {
    background-color: #f0e9c7;
    padding: 1rem 2rem;
    margin-top: 10%;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 0px black;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s;
}

.swiper-btn:hover {
    cursor: pointer;
    background-color: #ece087;
    border: 1px solid #d9cda3;
    transform: translateY(-2px);
    box-shadow: 4px 4px 7px rgba(6, 6, 6);
}

.img-container {
    width: 40%;
    height: 70%;
    position: relative;
}

.img-container img {
    width: 300px;
}