* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

/* Login section */

#Login {
    height: 100vh;
    background: #e3e6e8;
}

/* Login-content area */

.login-content {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background img */

.background-login {
    position: absolute;
    height: 89vh;
    width: 100%;
}

/* Login wrap */

.login-wrap {
    position: relative;
    background: #4a6572;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px 0;
}

/* Login box img */

.login-box-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 1s ease-in-out forwards;
}

.login-box-img img {
    height: 450px;
    width: 450px;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

/* Input area */

.login-box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: login 1s ease-in-out forwards;
}

.login-heading {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #fdfdfd;
}

.login-with-button {
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #212529;
    cursor: pointer;
}

.login-with-button:hover {
    background: #f5f5dc;
}

.more-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.or {
    font-size: 16px;
    margin: 0 16px;
    color: #fdfdfd;
}

.more-options::before, .more-options::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #fdfdfd;
}

.input-box input {
    padding: 8px 12px;
    letter-spacing: 1px;
    width: 280px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 20px;
}

.input-box input:focus {
    border: 2px solid #CC5500;
    outline: none;
}

.forget-password {
    margin-bottom: 20px;
}

.forget-password a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.forget-password a:hover {
    text-decoration: underline;
}

.login-btn {
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #212529;
    cursor: pointer;
}

.login-btn:hover {
    background: #f5f5dc;
}

.more-options-link {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fdfdfd;
}

.more-options-link .Sign-up {
    text-decoration: none;
    color: #fdfdfd;
}

.more-options-link .Sign-up:hover {
    text-decoration: underline;
}

@keyframes login {
    from {
        opacity: 0;
        transform: translate(-100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}