/* Input area */
.login-box-content {
    animation: animate 0.9s ease forwards;
}

/* Animation */

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

/* Login box img */
.login-box-img {
    animation: login 0.9s ease forwards;
}

/* Animation */

@keyframes login {
    from {
        opacity: 0;
        transform: translate(-100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}