* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

/* About section */

#about {
    height: 100vh;
    background: #F0E5D8;
}

/* navbr */

nav {
    background: #C97C5D;
}

nav h3 {
    color: #F0E5D8;
}

.nav-item-wrap li a {
    color: #FFF8E8;
}

.profile i {
    color: #FFF8E8;
}

.About-content {
    padding: 80px 50px;
    display: flex;
    justify-content: center;
}

.About-section-heading {
    font-size: 35px;
    font-weight: 600;
    color: #5D4C46;
}

.About-section-heading::after {
    content: '';
    width: 110px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}