* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

/* community section */

#community {
    min-height: 100vh;
    background: #fdfdfd;
}

.community-content {
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.community-section-heading {
    font-size: 35px;
    font-weight: 600;
    color: #5D4C46;
}

.community-section-sub-heading {
    font-size: 20px;
    margin-top: 15px;
    color: #2f4f4f;
    font-weight: 600;
}

.community-boxes {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.community-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background: linear-gradient(135deg, #fff, #f0f4f8);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.community-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2);
}

.community-box-img {
    height: 180px;
    width: 180px;
}

.community-box-heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.community-box-description {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
}

.community-box-button {
    padding: 8px 16px;
    border-radius: 10px;
    color: #fff;
    border: none;
    background: rgb(83, 206, 255);
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
}