* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    scroll-behavior: smooth;
}

/* About section */

#about {
    height: 100vh;
}

.login-content {
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrap {
    background: #9A7E6F;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px 0;
}

.login-box-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box-img img {
    height: 350px;
    width: 350px;
}

.login-box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-heading {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.login-with-button {
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.more-options {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.or {
    font-size: 16px;
    margin: 0 16px;
}

.more-options::before, .more-options::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.input-box input {
    padding: 8px 12px;
    letter-spacing: 1px;
    width: 280px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.forget-password {
    margin-bottom: 20px;
}

.forget-password a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.forget-password a:hover {
    text-decoration: underline;
}

.login-btn {
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.more-options-link {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.more-options-link .Sign-up {
    text-decoration: none;
}

.more-options-link .Sign-up:hover {
    text-decoration: underline;
}